/*
  Document Styles

  Light Blue - 1481ba
  Dark Blue - 011936
  Gray - bfbdc1
  Orange - ff9533
  White - fbfffe

*/

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.233 4.233"><g style="display:inline;stroke-width:.274971;stroke-miterlimit:4;stroke-dasharray:none"><path style="display:inline;fill:%23011936;fill-opacity:1;stroke:none;stroke-width:.274971;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m35 17.5 5-2.5-5 7.5Z" transform="matrix(.18259 0 0 .1811 -4.274 -.368)"/><path style="display:inline;fill:%23bfbdc1;fill-opacity:1;stroke:none;stroke-width:.274971;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m30 15 5 2.5v5Z" transform="matrix(.18259 0 0 .1811 -4.274 -.368)"/><path style="display:inline;fill:%231481ba;fill-opacity:1;stroke:none;stroke-width:.274971;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M35 5v12.5l5-2.5z" transform="matrix(.18259 0 0 .1811 -4.274 -.368)"/><path style="display:inline;fill:%23fbfffe;fill-opacity:1;stroke:none;stroke-width:.274971;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m35 5-5 10 5 2.5Z" transform="matrix(.18259 0 0 .1811 -4.274 -.368)"/><path style="mix-blend-mode:normal;fill:none;stroke:%23ff9533;stroke-width:.274971;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m35 5-5 10 5 7.5 5-7.5z" transform="matrix(.18259 0 0 .1811 -4.274 -.368)"/><path style="fill:none;stroke:%23ff9533;stroke-width:.274971;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m30 15 5 2.5 5-2.5M35 5v17.5" transform="matrix(.18259 0 0 .1811 -4.274 -.368)"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#logo {
    max-width: 100rem;
    max-height: 33rem;
}

.nav {
    display: block;
    width: 60%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 600;
}

.fa-brands {
    font-size: 5rem;
}

.nav-social {
    display: flex;
    justify-content: center;
}

.social-list {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
}

.modal {
    display: block;
    z-index: 1;
    position: fixed;
    width: 70%;
    height: 80%;
    background-color: rgba(1,25,54,.9);
    border-radius: 30px;
    color: #fbfffe;
    padding: 20px 20px;
    opacity: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modal h2 {
    font-family: teko, "Smooch Sans",sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: #1481ba;
}

.modal h3 {
    font-family: teko, "Smooch Sans", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: #bfbdc1;
    border-bottom: 1px solid #ff9533;
    width: max-content;
    margin: 5px 0;
}

.modal p, ul{
    font-family: mukta, teko, "Smooch Sans", sans-serif;
    font-size: 1.75rem;
    padding: 5px 0;
    line-height: 2.5rem;
}

#img-about-me{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #fbfffe;
}

.fa-xmark {
    position: absolute;
    top: 10px;
    right: 15px;
}

.hide{
    display: none;
}

.transition.hide{
    display: block;
    opacity: 0;
}

.transition {
    transition: opacity .5s ease;
}

.blur {
    filter: blur(.75rem);
}

.link{
    color: #011936;
}

.link:hover {
    color: #ff9533;
}

@media screen and (max-width: 670px){
    .nav {
        width: 100%;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .social-list {
        flex-basis: 100%;
        position: absolute;
        bottom: 10px;
        width: 100%;
        justify-content: space-around;
    }    

    .fa-brands {
        font-size: 3rem;
    }
    
    .modal {
        width: 90%;
        height: 90%;
    }

}